<div class="col-xl-10">
    <form name="SearchForm" asp-action="Search" asp-controller="HangHoa">
        <div class="input-group w-100 mx-auto d-flex">
                <input id="search-text" type="search" class="form-control p-3" placeholder="từ khóa" aria-describedby="search-button" name="query">
                <span id="search-button" class="input-group-text p-3" onclick="SearchForm.submit()"><i class="fa fa-search"></i></span>
        </div>
    </form>
</div>