
@{
    ViewData["Title"] = "Thanh toán thất bại";
}

<div style="margin-top: 150px; width: fill-content; height: 400px; text-align:center">
    <h1>Đặt hàng không thành công</h1>
    <h3 class="text-danger">@TempData["Message"]</h3>
</div>

